* {
  margin: 0;
  padding: 0;
}

.main-page {
  background-image: url(Images/salad.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  float: right;
  list-style: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: aliceblue;
  padding: 5px 10px;
  border: 1px solid #e5ff00;
  transition: 0.3s ease;
}

ul li a:hover {
  background-color: #e5ff00;
  color: black;
}

.logo {
  font-family: "Monoton", cursive;
  font-size: 50px;
  color: yellow;
}

.words {
  color: rgb(241, 219, 14);
  text-align: center;
  padding: 30px 10px;
  border: 2px solid rgb(250, 226, 11);
  font-size: 70px;
  font-weight: 500;
}
/* about me page */
.about {
  background-image: url(Images/travelme.jpg);
  background-size: cover;
  height: 25vh;
}

.title {
  font-size: 50px;
  font-family: cursive;
}

/* blog */

.move {
  background-image: url(Images/timetogo.jpg);
  background-position: center;
  background-size: 100%;
  height: 300vh;
}
